p, blockquote {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal; }

h2, h3 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 800;
  font-style: normal; }

header nav a {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 800;
  font-style: normal; }
  header nav a:active {
    color: #325484; }
  header nav a:link {
    color: #637ea4; }
  header nav a:visited {
    color: #637ea4; }
  header nav a:hover {
    color: #325484; }

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%; }

* {
  box-sizing: border-box; }

body {
  max-width: 72rem;
  display: block;
  margin: 0 auto; }

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%; }
  header .logo {
    width: 100px;
    height: 100px;
    margin: 10px;
    place-self: center; }
    header .logo img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center top; }
  header nav {
    place-self: center;
    width: 100%;
    text-align: center; }
    header nav ul {
      list-style: none;
      padding: 0; }
      header nav ul li {
        display: inline;
        margin: 10px; }
    @media screen and (max-width: 39.9375em) {
      header nav {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        opacity: 0;
        background-color: white;
        transform: translateY(-100%);
        transition: all .2s;
        z-index: 9; }
        header nav ul {
          background-color: white;
          width: 100%;
          height: 100vh;
          display: grid;
          grid-template-rows: auto;
          place-items: center; }
          header nav ul li {
            display: block;
            margin: 10px; }
            header nav ul li a {
              font-size: 1.5rem; } }
  header button {
    display: none;
    background-color: white;
    border-style: none;
    border-color: none;
    cursor: pointer;
    width: 50px;
    height: auto;
    justify-self: end;
    align-self: center;
    margin-right: 20px; }
    @media screen and (max-width: 39.9375em) {
      header button {
        display: block;
        position: relative;
        z-index: 10; } }

main {
  margin-bottom: 50px; }
  main article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: calc(100% - 20px);
    margin: 10px;
    row-gap: 20px;
    column-gap: 50px;
    color: black;
    text-decoration: none; }
    main article h2 {
      grid-column: 1/-1;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase; }
    main article p {
      text-align: justify;
      text-decoration: none; }
    main article .titleStatement {
      grid-column: 1/-1;
      font-size: 1.5rem;
      text-align: center; }
    @media screen and (max-width: 39.9375em) {
      main article {
        grid-template-columns: 1fr; } }
    main article div {
      justify-self: center;
      width: 100%;
      padding-bottom: 20px;
      border-bottom: 2px blue solid;
      margin-bottom: 20px; }
      main article div h3 {
        font-size: 2rem;
        text-align: center;
        margin-top: 0; }
      main article div ul, main article div p {
        font-size: 1.25rem; }

.home {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  place-items: center; }
  @media screen and (max-width: 39.9375em) {
    .home {
      grid-template-columns: repeat(1, 1fr);
      margin-left: 20px;
      margin-right: 20px;
      width: calc(100% - 40px); } }
  .home img {
    width: 100%;
    transition: all .2s; }
    @media screen and (max-width: 39.9375em) {
      .home img {
        filter: grayscale(0); } }

.inline-link {
  display: inline;
  margin: unset;
  text-decoration: underline;
  color: blue; }

.moveNav {
  transform: translateY(0);
  opacity: 1; }

iframe {
  width: 100%;
  height: 400px; }
  @media screen and (max-width: 39.9375em) {
    iframe {
      width: 100%;
      height: 200px; } }

.quote {
  font-size: 2rem; }
  @media screen and (max-width: 39.9375em) {
    .quote {
      padding: 0; } }

.links-container a {
  display: block;
  margin: 0 auto;
  text-align: center; }

.double {
  grid-column: 1/-1; }
  .double p {
    max-width: 80%;
    margin: 0 auto;
    display: block; }

.home-title {
  grid-column: 1/-1; }

/*# sourceMappingURL=app.css.map */
