*{
    box-sizing: border-box;
}



body{
    max-width: 72rem;
    display: block;
    margin: 0 auto;
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    .logo{
        width: 100px;
        height: 100px;
        // background-color: navy;
        margin: 10px;
        place-self: center;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center top;
        }
    }
    nav{
        place-self: center;
        width: 100%;
        text-align: center;
        ul{
            list-style: none;
            padding: 0;
            li{
                display: inline;
                margin: 10px;
            }
        }
        





        @media screen and (max-width: 39.9375em) {
            width: 100vw;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            opacity: 0;
            background-color: white;
            transform: translateY(-100%);
            transition: all .2s;
            z-index: 9;
            
            ul{
                background-color: white;
                width: 100%;
                height: 100vh;
                display: grid;
                grid-template-rows: auto;
                place-items: center;
                li{
                    display: block;
                    margin: 10px;
                    a{
                        font-size: 1.5rem;
                    }
                }
            }
            
            
        }


    }
    button{
        display: none;
        background-color: white;
        border-style: none;
        border-color: none;
        cursor: pointer;
        width: 50px;
        height: auto;
        justify-self: end;
        align-self: center;
        margin-right: 20px;
        @media screen and (max-width: 39.9375em) {
            display: block;
            position: relative;
            z-index: 10;
        }
    }
}


main{
    
    margin-bottom: 50px;
    article{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: calc(100% - 20px);
        margin: 10px;
        row-gap: 20px;
        column-gap: 50px;
        color: black;
        text-decoration: none;
        img{
            grid-column: 1/-1;
            width: 100%;
            height: auto;
            object-fit: cover;
            padding: 0 150px;
            @media screen and (max-width: 39.9375em) {
                padding: 0;
            }
            

        }


        h2{
            grid-column: 1/-1;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
        }
        p{
            text-align: justify;
            text-decoration: none;
        }
        .titleStatement{
            grid-column: 1/-1;
            font-size: 1.5rem;
            text-align: center;
        }
        @media screen and (max-width: 39.9375em) {
            grid-template-columns: 1fr;
        }
        div{
            justify-self: center;
            width: 100%;
            padding-bottom: 20px;
            border-bottom: 2px blue solid;
            margin-bottom: 20px;
            h3{
                font-size: 2rem;
                text-align: center;
                margin-top: 0;
            }
            ul, p{
                font-size: 1.25rem;
                // max-width: 400px;
                // display: block;
                // margin: 0 auto;
            }
            
        }
        

    }
    
}

.home{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    @media screen and (max-width: 39.9375em) {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 20px;
        margin-right: 20px;
        width: calc(100% - 40px);
    }
    
    img{
        width: 100%;
        // filter: grayscale(1);
        transition: all .2s;
        

        // &:hover{
        //     filter: grayscale(0);

        // }
        @media screen and (max-width: 39.9375em) {
            filter: grayscale(0);
        }
    }
}


.inline-link{
    display: inline;
    margin: unset;
    text-decoration: underline;
    color: blue;
}

.moveNav{
    transform: translateY(0);
    opacity: 1;
}



iframe{
    width: 100%;
    height: 400px;
    @media screen and (max-width: 39.9375em) {
        width: 100%;
        height: 200px;
    }
}


.quote{
    // padding: 50px 150px;
    font-size: 2rem;
    // margin: 0;
    @media screen and (max-width: 39.9375em) {
        padding: 0;
    }
}

.links-container{
    
    a{
        display: block;
        margin: 0 auto;
        text-align: center;
    }
}

.double{
    grid-column: 1/-1;
    p{
        max-width: 80%;
        margin: 0 auto;
        display: block;

    }
}


.home-title{
    grid-column: 1/-1;
    margin: 50px 100px;
}