@font-face {
    font-family: arial-black;
    src: url(../fonts/ariblk.ttf);
}


p{
    font-family: garamond-premier-pro-display,serif;
    font-weight: 400;
    font-style: normal;
}

h2, h3{
    font-family: arial-black;
}