p, blockquote, ul{
    

font-family: brandon-grotesque, sans-serif;

font-weight: 400;

font-style: normal;

}

h2, h3{
    

    font-family: brandon-grotesque, sans-serif;
    font-weight: 800;
    font-style: normal;

}

main{
    article{
        h2{
            font-size: 2rem;
        }
        div{
            h3{
                font-size: 1.5rem;
            }
            
        }
    }
}

header{
    nav{
        
        a{
            font-family: brandon-grotesque, sans-serif;
            font-weight: 800;
            font-style: normal;
            
            &:active{
                color: #325484;
            }
            &:link{
                color: #637ea4;
            }
            &:visited{
                color: #637ea4;
            }
            &:hover{
                color: #325484;
            }


        }
    }
}